@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');

h1 {
  font-family: 'Source Sans Pro:200', sans-serif;
}

h2 {
  font-family: 'Source Sans Pro:200', sans-serif;
}

h3 {
  font-family: 'Source Sans Pro:200', sans-serif;
}

h4 {
  font-family: 'Source Sans Pro:200', sans-serif;
}

h5 {
  font-family: 'Source Sans Pro:200', sans-serif;
}

h6 {
  font-family: 'Source Sans Pro:200', sans-serif;
}

body {
  font-family: 'Source Sans Pro:200', sans-serif;
}