@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
}

h5 {
  font-family: 'Roboto Condensed', sans-serif;
}

h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #db4c3f;
}

i {
  font-size: 50%;
}